<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>917628286455-70vhofe42hn45ak9lavdsn2g8ero285o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917628286455-70vhofe42hn45ak9lavdsn2g8ero285o</string>
	<key>API_KEY</key>
	<string>AIzaSyC03fqSRWBAiF6qJ0Q_n2-9p_hHzVnl0UQ</string>
	<key>GCM_SENDER_ID</key>
	<string>917628286455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.improvall.ios</string>
	<key>PROJECT_ID</key>
	<string>improvall-e88e8</string>
	<key>STORAGE_BUCKET</key>
	<string>improvall-e88e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917628286455:ios:e8042b490aba11b05feaf2</string>
</dict>
</plist>